<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="reem_move_both_arms">
        <param name="group" type="string" value="both_arms" />
        <param name="trajectory_filter_allowed_time" type="double" value="2.0" />
        <remap from="arm_ik" to="reem_both_arms_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="both_arms_controller/follow_joint_trajectory" />
    </node>
</launch>
