<launch>
    <include file="$(find reem_arm_navigation)/launch/reem_planning_environment.launch" />
    <node pkg="ompl_ros_interface" type="ompl_ros" name="ompl_planning">
        <param name="default_planner_config" type="string" value="LazyRRTkConfig1" />
        <rosparam command="load" file="$(find reem_arm_navigation)/config/ompl_planning.yaml" />
        <rosparam command="load" file="$(find reem_arm_navigation)/config/robot_padding.yaml" />
    </node>
</launch>
