<launch>
  <include file="$(find reem_description)/robots/upload_reem.launch" />
  <param name="use_gui" value="True"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find reem_tutorials)/config/reem_minimal.vcg" />
</launch>
