<launch>
  <!-- Optional environment variable, to enable RGBD sensor  -->
  <arg name="use_rgbd_sensor" default="$(optenv USE_RGBD_SENSOR false)" />
  <arg name="config" default="reem" />

  <!-- Default, send standard REEM URDF model to ROS Param Server  -->
  <group unless="$(arg use_rgbd_sensor)">
    <node name="reem_rviz" pkg="rviz" type="rviz" args="-d $(find reem_tutorials)/config/$(arg config).vcg" />
  </group>

  <!-- Alternatively load REEM URDF with RGBD sensor -->
  <group if="$(arg use_rgbd_sensor)">
   <node name="reem_rviz" pkg="rviz" type="rviz" args="-d $(find reem_tutorials)/config/reem_rgbd.vcg" />
  </group>
</launch>
