<launch>

  <arg name="planner" default="base"/>
  <arg name="local_planner" default="dwa"/>  <!-- dwa, trajectory -->
  <arg name="localization" default="amcl"/>

  <!-- <arg name="map" default="$(find reem_gazebo_2dnav)/maps/map.yaml"/> -->

  <!-- Map -->
  <include file="$(find reem_gazebo_maps)/launch/map.launch"/>

  <!-- Localization -->
  <include file="$(find reem_gazebo_2dnav)/launch/amcl_diff.launch"/>

  <!-- Planning -->
  <include file="$(find reem_gazebo_2dnav)/launch/move_$(arg planner).launch">
    <arg name="local_planner" value="$(arg local_planner)"/>
  </include>

</launch>
